[submodule "packages/aesirx-uikit"]
	path = packages/aesirx-uikit
	url = git@github.com:aesirxio/aesirx-uikit.git
	branch = develop
[submodule "packages/aesirx-bi-app"]
	path = packages/aesirx-bi-app
	url = git@github.com:aesirxio/bi-app.git
	branch = develop
[submodule "packages/aesirx-content-app"]
	path = packages/aesirx-content-app
	url = git@github.com:aesirxio/content-app.git
	branch = develop
[submodule "packages/aesirx-crm-app"]
	path = packages/aesirx-crm-app
	url = git@github.com:aesirxio/crm-app.git
	branch = develop
[submodule "packages/aesirx-dma-app"]
	path = packages/aesirx-dma-app
	url = git@github.com:aesirxio/dma-app.git
	branch = develop
[submodule "packages/aesirx-lib"]
	path = packages/aesirx-lib
	url = git@github.com:aesirxio/aesirx-lib.git
	branch = develop
[submodule "packages/aesirx-pim-app"]
	path = packages/aesirx-pim-app
	url = git@github.com:aesirxio/pim-app.git
	branch = develop
[submodule "packages/aesirx-dam-app"]
	path = packages/aesirx-dam-app
	url = git@github.com:aesirxio/dam-app.git
	branch = develop
[submodule "packages/aesirx-sso"]
	path = packages/aesirx-sso
	url = https://github.com/aesirxio/sso.git
	branch = develop
